div {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 45px;
  margin-top: 50px;
}

p {
  color: black;;
  font-size:25px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  text-decoration-line: underline;
}